<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
    <div class = "container">
    <h1 href="#" class="navbar-brand mb-0 h1 justify-content-start">Crescendo</h1>
        <div class="container-fluid align-items-center justify-content-between p-1">
    <button  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navigation navbar-nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/discover">Discover</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/create-circle">Create Circle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        </div>            
    </div>
</nav>