<%- include('./includes/head.ejs') %>
</head>

<%- include('./includes/navigation.ejs') %>

<h1>Welcome to Crescendo!</h1>

<p> Crescendo is a platform where like minded individuals can come and discuss anything music related. All you have to do is sign-up, create a Circle, post and comment within that circle to interact and gauge opinions from others in the community, simple as that. </p>

<%- include('./includes/end.ejs') %>