<head>
<%- include('./includes/head.ejs') %>

<h1>Hey, it works!</h1>

<%- include('./includes/end.ejs') %>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/login/">Login</a></li>
            <li><a href="/logout/">Logout</a></li>
        </ul>
    </nav>
</body>