<!DOCTYPE html>
<html>

<head>
<%- include('./includes/head.ejs') %>

<h1>Welcome to Crescendo</h1>

<%- include('./includes/end.ejs') %>
</head>

<body>
    <nav>
        <ul>
            <% if(!isAuthenticated) { %>
            <li><a href="/login/">Login</a></li>
            <% } else { %>
            <li><a href="/logout/">Logout</a></li>
            <% } %>
        </ul>
    </nav>
</body>

</html>