body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(0, 34, 80);
}

h1 {
    font-family:'Dancing Script', cursive;
    text-align: center;
    color: silver;
    margin: auto;
    padding: 5%;
}

h5 {
    text-align: center;
    font-family:'Dancing Script', cursive;
    font-size: 2.5rem;
}

p {
    text-align: center;
    padding: 5%;
}

.WelcomeMessage {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color: silver;
}

.card {
    max-width: 600px;
    min-height: 600px;
}

#commentTextInput {
    height: 10rem;
}

#postBodyInput {
    height: 10rem;
}

#circle-card-title {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

#post-card-title {
    font-weight: bold;
}

#commentUsername {
    font-weight: bold;
}
