<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(locals.err_msg) { %>
            <div class="alert alert-danger" role="alert"><%= err_msg %></div>
        <% } %>
        
        <form class="new-circle-form" method="POST" action="/create-circle">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" id="title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" name="description" class="form-control" id="description">
            </div>
            <div class="mb-3">
                <label for="imageUrl" class="form-label">Image URL</label>
                <input type="text" name="imageUrl" class="form-control" id="imageUrl">
            </div>
            <button type="submit" class="btn btn-primary">Create Circle</button>
        </form>
    </main>

    <%- include('../includes/end.ejs') %>
